<!-- <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sticky-top overflow-auto" style="width: 280px; height:600px">
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item mt-1" *ngFor="let react of reacts">
              <a
                [ngStyle]="{'cursor':'pointer'}"
                (click)="onClick(react.title)"
                class="nav-link active"
                aria-current="page"
              >
                {{ react.title }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 bg-gray" >
        <div class="p-2" *ngFor="let react of reacts" [id]="react.title">
          <h3 class="bg-dark p-2 text-white">{{ react.title }}</h3>
          <div [innerHTML]="react.description"><div></div></div>
        </div>
      </div>
    </div>
  </div>
   -->