<div class="container">
  <div class="row">
    <div class="col">
      <div class=" border">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png" class="img-thumbnail"/>
    <hr/>
Learn JavaScript new Concpets<br/>
<a [routerLink]="['javascript']">Read More</a>

</div>
</div>
<div class="col">
  <div class=" border">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_ja_TDIVA2qaGjxAkciIcSXVsDEdWUujFOQ&usqp=CAU" class="img-thumbnail"/>
  <!-- <h1 class="text-center">Angular</h1> -->
  <hr/>
  Learn Angular  new Concpets<br/>
  <a [routerLink]="['angular']">Read More</a>
  </div>
</div>
<div class="col">
  <div class=" border">
  <!-- <h1 class="text-center">Mongodb</h1> -->
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQufHaU8WVATNzGkG_50vmX1XIEq8Zfk0eYmQ&usqp=CAU" class="img-thumbnail"/>
  <hr/>
  Learn Mongodb new Concpets<br/>
  <a href="">Read More</a>
  </div>
</div>
<div class="col">
  <div class=" border">
  <!-- <h1 class="text-center">NodeJs</h1> -->
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCwUnuXNHKaRZL3sNZK2YENlpYplRD2mu_1Q&usqp=CAU" class="img-thumbnail"/>
     <hr/>
      <!-- Learn Nodejs new Concpets<br/> -->
      <a href="">Read More</a>
      </div>
    </div>
  </div>
</div>
